body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.container {
    width: 100%;
    overflow: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

div.aguilas {
    width: 100%;
    overflow: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

div.aguilas div {
    width: 33%;
    float: left;
    padding: 30px;
}

#carrusel{
    width: 80%;
}

#videos{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 170px;
}